<footer class="footer">

    <p>Bug Tracker&emsp; - &emsp;MIT Licence 2023</p>
    <div>
        <a href="">Contact</a>&emsp;
        <a href="">Support</a>&emsp;
        <a href="">Licence</a>
    </div>
</footer>