<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title></title>
        <link rel="stylesheet" href="/css/main.css" type="text/css"/>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    </head>
    <body>
        
        <%- include("partials/header.ejs") %>
        <main class="main-content">
            <form method="post" action="/signup" class="site-overlay">
                <h3>Sign Up</h3>
                <label for="username">Email/Username:</label>
                <input name="username" type="email" placeholder="email@domain.com" autocomplete="off" required/>
                <label for="email">Password:</label>
                <input id="password" name="password" type="password" placeholder="Password" autocomplete="off" required/>
                <ul id="invalid-password-list">
                    <li id="uppercase-character-warning">At least one uppercase character</li>
                    <li id="lowercase-character-warning">At least one lowercase character</li>
                    <li id="digit-warning">At least one digit 0-9</li>
                    <li id="special-character-warning">At least one special character (!,@,#,$,%,^,*,etc...)</li>
                    <li id="length-warning">Must be between 8 and 25 characters long (!,@,#,$,%,^,*,etc...)</li>
                </ul>
                <label for="confirmpassword">Confirm Password</label>
                <input id="confirmpassword" name="confirmpassword" type="password" placeholder="Confirm Password" autocomplete="off" required/>
                <ul id="invalid-confirm-password-list">
                    <li id="uppercase-character-warning-1">At least one uppercase character</li>
                    <li id="lowercase-character-warning-1">At least one lowercase character</li>
                    <li id="digit-warning-1">At least one digit 0-9</li>
                    <li id="special-character-warning-1">At least one special character (!,@,#,$,%,^,*,etc...)</li>
                    <li id="length-warning-1">Must be between 8 and 25 characters long (!,@,#,$,%,^,*,etc...)</li>
                </ul>
                <p id="password-match-warning" class="warning-text">Passwords do not match!</p>
                <button class="overlay-button" type="submit">Sign Up!</button>
            </form>
        </main>

        <%- include ("partials/footer.ejs") %>

        <script src="/js/app.js"></script>
        <script src="/js/login.js"></script>
    </body>
</html>