/* 
Color pallete: 
*/

:root{
    --red1: #79155B;
    --red2: #C23373;
    --orange: #F6635C;
    --tan: #FFBA86;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.header{
    
}

.main-content{
    flex: 1 1 auto;
}

.footer{
    flex-shrink: 0;
}