/* 
Color pallete: 
*/

:root{
    --color1: #79155B;
    --color2: #C23373;
    --color3: #F6635C;
    --color4: rgb(80, 80, 80);
    --font-color: white;
    --card-background: #363436;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background-color: #262426;
}

body{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: underline;
    color: var(--font-color);
}

hr{
    background: linear-gradient(to right, var(--color2), var(--color3));
    height: 3px;
    border: none;
}

#daylight-button{
    background: none;
    border: none;
    color: white;
    scale:1.3;
    transition: transform 0.5s;
}

#daylight-button:hover{
    transform: rotate(360deg);
}

#invalid-password-list{
    display: none;
    list-style:square;
}

#invalid-confirm-password-list{
    display: none;
    list-style: square;
}

.huge-text{
    
}

.big-text{
    
}

.header{
    display: flex;
    background-color: var(--color1);
    padding: 1em;
    color: white;
    gap: 1em;
    align-items: baseline;
}

.header-link{
    text-decoration: none;
    
    background-image: linear-gradient(var(--color3) 0 0);
    background-position: bottom center; /*Adjust the background-position to move the line*/
    background-size: 0% 2px; /*Adjust the background size to control length and height*/
    background-repeat: no-repeat;
    padding-bottom: 4px; /* this can also control the position */
    transition: 0.18s;
}

.header-link:hover{
    background-size: 100% 2px; /*Adjust the background size to control length and height*/
}

.header-link-wide{
    flex: 1;
}

.main-content{
    flex: 1 1 auto;
    color: var(--font-color);
}

.flex-center-all{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.medium-gap{
    gap: 2em;
}

.project-banner{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.project-banner-button{
    background: none;
    color: var(--font-color);
    border: none;
    
    text-decoration: underline;
}

.project-banner-button:hover{
    cursor:pointer;
}

.bug-grid{
    display: grid;
    grid-auto-flow: row dense;
    padding: 2em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
    gap: 2em 2em;
}

.bug-card{
    display: flex;
    gap: 1em;
    padding: 1em;
    align-self: start;

    background-color:var(--card-background);
    border-radius: 10px;
}

.button-card{
    align-self: stretch;
}

.button-card > svg{
    
}

.button-card:hover{
    cursor: pointer;
}

.bug-card-title{
    
    margin-bottom: 0.5em;
}

.card-content{
    max-width: 60ch;
    line-height: 1.5;
    flex: 1;
}

.footer{
    padding: 1em;

    flex-shrink: 0;
    display: flex;
    justify-content: space-between;

    background-color: var(--color2);
    color: white;
}

.footer a{
    color: white;
}

.bug-level-4{
    background-color: magenta;
    box-shadow: 5px 5px 5px darkmagenta;
    border-radius: 10px;
    width: 20px;
}

.bug-level-3{
    background-color: red;
    box-shadow: 5px 5px 5px darkred;
    border-radius: 10px;
    width: 20px;
}

.bug-level-2{
    background-color: goldenrod;
    box-shadow: 5px 5px 5px darkgoldenrod;
    border-radius: 10px;
    width: 20px;
}

.bug-level-1{
    display: block;
    background-color: green;
    box-shadow: 5px 5px 5px darkgreen;
    border-radius: 10px;
    width: 20px;
}

.bug-level-archive{
    display: block;
    background-color: rgb(127, 127, 127);
    box-shadow: 5px 5px 5px rgb(100, 100, 100);
    border-radius: 10px;
    width: 20px;
}

.card-button{
    background: none;
    border: none;
    color: white;
    scale:1.3;
    transition: transform 0.5s;
    margin-left: 1em;
}

.card-button:hover{
    transform: rotate(360deg);
}

.card-button-red:hover{
    color: red;
}

.card-button-green:hover{
    color: greenyellow;
}

.site-overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color:var(--card-background);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 7px 7px 10px rgb(80, 80, 80),
               -7px 7px 10px rgb(80, 80, 80),
               -7px -7px 10px rgb(80, 80, 80), 
               7px -7px 10px rgb(80, 80, 80);

    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.site-overlay > h3{
    
    color: var(--font-color);
}

.site-overlay > label{
    align-self: start;
}

.site-overlay > input,textarea{
    
    font-family: sans-serif;
    border: none;
    padding: 0.8em;
    width: 400px;
    border-radius: 10px;
    background-color: var(--card-background);
    border: 1px solid var(--color4);
    color: var(--font-color);
}

.site-overlay > input:focus,textarea:focus{
    color: var(--font-color);
    box-shadow: none;
}

.site-overlay > textarea{
    height: 300px;
    resize: none;
    border-radius: 10px;
    background-color: var(--card-background);
    border: 1px solid var(--color4);
}

.overlay-button{
    padding: 1em;
    
    border-radius: 10px;
    border: none;
    background-color: var(--color1);
    color: white;
    width: 100%;
}

.overlay-button:hover{
    cursor: pointer;
}

.close-overlay-button{
    position: absolute;
    left: 0;
    top: 0;
    
    margin: 20px;
    color:var(--font-color)
}

.close-overlay-button:hover{
    cursor: pointer;
}

.level-selector{
    display: flex;
    gap: 1px;
    width: 100%;
}

.level-selection{
    color: #363436;
    
    padding: 1em;
    flex: 1;
    text-align: center;
    background-color: var(--card-background);
    border: 1px solid var(--color4);
    color: var(--font-color);
}

.level-selection:hover{
    cursor:pointer;
}

.other-login-options{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.other-login-options > a{
    
}

.warning-text{
    color: red;
}

#password-match-warning{
    display: none;
}

.visible-break{
    border: 1px solid white;
}

.big-title{
    padding: 2rem;
}

.project-grid{
    display: grid;
    grid-auto-flow: row dense;
    padding: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
    column-gap: 2em;
    row-gap: 4em;
}

.project-grid > a{
    text-decoration: none;
}

.hidden{
    display: none;
}

.pending-project-actions{
    display: flex;
    gap: 1em;
    margin-top: 1em;
}

.project-join-choice-button{
    padding: 1em;
    border-radius: 10px;
    border: none;
    background-color: var(--color1);
    color: white;
}

.project-join-choice-button:hover{
    cursor: pointer;
}

.button-red{
    background-color: darkred;
}

.button-green{
    background-color: green;
}

@media (max-width: 1025px){
    .bug-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 769px) {
    .project-banner{
        flex-direction: column;
        text-align: center;
        gap: 1em;
        padding: 1em;
    }

    .project-banner > div{
        display: flex;
        flex-direction: column;
    }

    .bug-grid{
        grid-template-columns: 1fr;
    }

    .footer{
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }

    #daylight-button{
        order: 1;
        margin-top: 1.1em;
    }
}
