/* 
Color pallete: 
*/

:root{
    --color1: #79155B;
    --color2: #C23373;
    --color3: #F6635C;
    --color4: #FFBA86;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background-color: #262426;
}

body{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: underline;
    color: white;
}

#daylight-button{
    background: none;
    border: none;
    color: white;
    scale:1.3;
    transition: transform 0.5s;
}

#daylight-button:hover{
    transform: rotate(360deg);
}

.header{
    
}

.main-content{
    flex: 1 1 auto;
}

.footer{
    padding: 3em;

    flex-shrink: 0;
    display: flex;
    justify-content: space-between;

    background-color: var(--color1);
    color: white;

    font-size: 0.9em;
}